# ignore Metals directories
.metals/
# ignore build directories
backend/target
frontend/target
# ignore project directories
project/
# ignore target directories
target/
#ignore vscode directories
.vscode/
# ignore environment files
.env
.bloop
.bsp
.idea